<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:odject="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{user.name}" id="name"/>
    <br/>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{user.surname}" id="surname"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>